doctype html
html(ng-app="app")

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Dustin Johnson -- Full Stack Developer + Digital Product Lead')
    meta(name='author', content= "Dustin Johnson")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Dustin Johnson
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic', rel='stylesheet', type='text/css')
    script(src='/vendor/angular.min.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60893656-1', 'auto');
      ga('send', 'pageview');

    != css()

  body
    block content

    != js()
