@import '_settings'
@import '_typography'
@import '_index'



header
  padding 3rem 0 2rem 0
  background white

.single
  height 200px
  col(1/2, cycle:2)
  background pink
  &.red
    background red

// ----------------
// Grid
// ----------------

.center-constrained
  center(1200px, 3em)

p.site-link
  text-align center
section, .grid
  cf()

  h3
    color lighten(black, 40%)

  h3, .description
    text-align center

  article
    col(1/3, cycle:3, gutter: 5)

    +between(769px,tablet)
      col(1/2, uncycle:3, cycle:2, gutter: 5)
      &:last-child
        shift(1/4)


    +above(1025px)
      &:last-child
        shift(1/3)
    h3
      font-family 'Lato'
      font-weight 700
      font-size 1rem
      line-height 1.8

  article
    +below(tablet-portrait)
      stack()


.grid
  .third
  .quarter
  .half
  .full
    img
      max-width: 100%

  .third
    col(1/3, cycle:3)
  .quarter
    col(1/4, cycle:4)
  .half
    col(1/2, cycle:2)

.image-grid
  // cf()
  max-width 1200px
  width 70%
  margin-left auto
  margin-right auto
  // .third
  // .quarter
  // .half
  // .full
  img
    max-width: 100%
    display block

  .two-third
    col(2/3, cycle:1, gutter: 0.5)
  .one-third
    col(1/3, cycle:1, gutter: 0.5)
  .third
    col(1/3, cycle:3, gutter: 0.5)
  .quarter
    col(1/4, cycle:4, gutter: 0.5)
  .half
    col(1/2, cycle:2, gutter: 0.5)

  background ghostwhite
  figure
    margin 0px
  figcaption, .fig-label
    background white
    padding 1em
    line-height 1.2

section.intro
  background white
  padding-top 0px
  +above(mobile)
    a
      line-height 1.1

    a:hover
      // color silver
      // text-decoration underline
      color firebrick
      border-bottom 5px solid firebrick
      // box-sizing padding-box

figure.full-wide
  max-width 80%
  margin auto
  img
    max-width 100%

img.full-bleed
  max-width 100%

h4.awards
  text-align center
  margin auto
  margin-bottom 1rem

figure.awards
  text-align center
.awwward
.dev-award
  width 200px
  display inline-block
  padding 1rem

// .dev-award
.awwward
  padding-bottom 2rem

h3#wineries
  margin-bottom 1.6em

.justin-wine
  text-align center
  // cf()
  img
    &.iphone
      max-height 570px
      max-width 24%
    &.tablet
      max-width 50%

img.ibm
  max-width 100%

#architecture-diagram
  .img-div
    img
      padding-top 0px
      padding-bottom 1rem
    figcaption
      margin-bottom 4rem



+above(mobile)

  .mobile
    display none !important

  section aside
    width 100%

  header
    // margin-top 5em
    ul
      float right
      text-align right
      margin-right 1%
    li
      display inline-block
      a
        border-radius 2px

+above(1200px)
  footer
    padding 0px
+above(1439px)
  #nav-btns
    max-width 40%
    float left
    position absolute
    left 2%
    top 55px
    text-align left
    margin auto

+below(tablet-portrait)
  footer
    display none

  .small-images
    max-width 80%
    margin auto
    a img
      height auto
      max-height 1000px
      padding 2em
  #art
    .image-grid
      width 100%
      padding 0rem mobile-padding
  section.where
    padding 0px
    margin 0px
    h3
      max-width 499px
      padding-top 0px
      margin auto
      padding-bottom 4rem

+below(mobile)

  section.intro
    display none !important

  .headshot
    max-width 125px

  section.mobile-intro
    background white
    padding-top 0px
    p
      margin 0px
      padding 0rem 1rem 1rem 1rem
    h1, h1 a
      font-size 1.4rem
      // padding 0rem 1rem
      margin 0px
      line-height 1.5
      text-align center
    h1 a
      padding 0px
      display inline
    h1
      display inline-block
      padding 0px 2rem
  .center-constrained, cite, figcaption,
  .small-images
    padding-left mobile-padding
    padding-right mobile-padding
  body section article p,
  p h3,
  figcaption h3,
  article h3,
  #specialization h3
    padding-left 0px
    padding-right 0px
  .small-images
    max-width 100%
    a img
      height auto
      max-height 1000px
      padding 1.2em
  #specialization, #specialization h3
    padding-top 0px

  #design
    padding-bottom 0px

  #art
    .image-grid
      width 100%
    figure
      margin-bottom 2px
      figcaption
        display none





// TEMPORARY
.todos
  li
    font-weight bold
    font-size 1.8em
    color red