@import '_settings'



normalize-css()
base()
*
  box-sizing border-box

body
  // padding 0px 50px
  font-family 'brand-serif'
  p
    line-height 1.5

+below(1024px)
  body
    background olive


header
  padding 2em 0em
  background white

.single
  height 200px
  col(1/2, cycle:2)
  background pink
  &.red
    background red

h1, h2, h3
  font-family 'Lato'
  font-weight 700

h2
  text-align center
  display block
  margin 1.5em auto
  max-width 23em
  font-weight 700

section, .grid
  cf()
  article
    col(1/3, cycle:3)
    +below(tablet)
      stack()
    &:last-child
      shift(1/3)

  h3
    font-weight 700
    font-size 1rem
    color lighten(black, 40%)
    line-height 1.8

  h3, .description
    text-align center


.grid
  .third
  .quarter
  .half
  .full
    img
      max-width: 100%

  .third
    col(1/3, cycle:3)
  .quarter
    col(1/4, cycle:4)
  .half
    col(1/2, cycle:2)

.image-grid
  cf()
  // .third
  // .quarter
  // .half
  // .full
  img
    max-width: 100%

  .two-third
    col(2/3, cycle:1, gutter: 0.5)
  .one-third
    col(1/3, cycle:1, gutter: 0.5)
  .third
    col(1/3, cycle:3, gutter: 0.5)
  .quarter
    col(1/4, cycle:4, gutter: 0.5)
  .half
    col(1/2, cycle:2, gutter: 0.5)

  background ghostwhite
  figure
    margin 0px
  figcaption
    background white
    padding 1em
    line-height 1.2

section.intro
  background white
  padding-top 0px

figure.full-wide
  max-width 80%
  margin auto
  img
    max-width 100%

img.full-bleed
  max-width 100%

.dev-award
  width 200px
.awwward
  width 200px

.justin-wine
  text-align center
  // cf()
  img
    &.iphone
      max-height 570px
      max-width 24%
    &.ibm
      max-width 40%
    &.tablet
      max-width 50%
    // span(1/2)
    // border 2px solid red
    // max-width 50%
    // max-height 500px

// TEMPORARY
.todos
  li
    font-weight bold
    font-size 1.8em
    color red