@import '_settings'
@import '_typography'
@import '_index'




+below(1024px)
  body
    background olive


header
  padding 3rem 0 2rem 0
  background white

.single
  height 200px
  col(1/2, cycle:2)
  background pink
  &.red
    background red

// ----------------
// Grid
// ----------------

.center-constrained
  center(1200px, 3em)


section, .grid
  cf()

  h3
    color lighten(black, 40%)

  h3, .description
    text-align center

  article
    col(1/3, cycle:3, gutter: 5)
    +below(tablet)
      stack()
    &:last-child
      shift(1/3)
    h3
      font-family 'Lato'
      font-weight 700
      font-size 1rem
      line-height 1.8






.grid
  .third
  .quarter
  .half
  .full
    img
      max-width: 100%

  .third
    col(1/3, cycle:3)
  .quarter
    col(1/4, cycle:4)
  .half
    col(1/2, cycle:2)

.image-grid
  // cf()
  max-width 1200px
  width 70%
  margin-left auto
  margin-right auto
  // .third
  // .quarter
  // .half
  // .full
  img
    max-width: 100%
    display block

  .two-third
    col(2/3, cycle:1, gutter: 0.5)
  .one-third
    col(1/3, cycle:1, gutter: 0.5)
  .third
    col(1/3, cycle:3, gutter: 0.5)
  .quarter
    col(1/4, cycle:4, gutter: 0.5)
  .half
    col(1/2, cycle:2, gutter: 0.5)

  background ghostwhite
  figure
    margin 0px
  figcaption, .fig-label
    background white
    padding 1em
    line-height 1.2

section.intro
  background white
  padding-top 0px
  a
    line-height 1.1

  a:hover
    // color silver
    // text-decoration underline
    color firebrick
    border-bottom 5px solid firebrick
    // box-sizing padding-box

figure.full-wide
  max-width 80%
  margin auto
  img
    max-width 100%

img.full-bleed
  max-width 100%

h4.awards
  text-align center
  margin auto
  margin-bottom 1rem

figure.awards
  text-align center
.awwward
.dev-award
  width 200px
  display inline-block
  padding 1rem

// .dev-award
.awwward
  padding-bottom 2rem

h3#wineries
  margin-bottom 1.6em

.justin-wine
  text-align center
  // cf()
  img
    &.iphone
      max-height 570px
      max-width 24%
    &.tablet
      max-width 50%

img.ibm
  max-width 100%

#architecture-diagram
  .img-div
    img
      padding-top 0px
      padding-bottom 1rem
    figcaption
      margin-bottom 4rem

// TEMPORARY
.todos
  li
    font-weight bold
    font-size 1.8em
    color red