<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Dustin Johnson</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="styles/normalize.min.css">
	<link rel="stylesheet" href="styles/s.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,900,400italic,300,500' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/my.js"></script>
</head>
<body>
    <header id="header">
        <div class="logo-box">

            <img src="img/dustin.png" class="headshot" alt="Dustin Johnson, Web Developer">
            <div class="main-title">DUSTIN JOHNSON</div>

        </div>
        <div >
            <ul class="icon-set">
                <li><a target="_blank" href="http://www.linkedin.com/in/dustinrjo" class="icon-alone">&#231;<div>linkedin</div></a> </li>
                <li><a target="_blank" href="http://www.behance.net/dustinj" class="icon-alone">&#79;<div>behance</div></a> </li>
                <li><a target="_blank" href="http://github.com/dustinrjo" class="icon-alone">&#82;<div>github</div></a> </li>
                <li><a target="_blank" href="http://ilimperium.tumblr.com" class="icon-alone">&#234;<div>tumblr</div></a> </li>
                <li><a href="assets/DRJCV.pdf" class="icon-alone">&#109;<div>resume</div></a> </li>
                <li><a target="_blank" href="http://goo.gl/maps/GZK2b" class="icon-alone">&#117;<div>location</div></a> </li>
                <li><a href="mailto:dustinrjo@gmail.com" class="icon-alone">&#56;<div>email</div></a> </li>
            </ul>
        </div>
        <ul id="nav-btns">
            <li><a id="designbtn" href="#/designer" class="nav-button">DESIGNER</a><!-- <div>&#203;</div> --></li>
            <li><a id="devbtn" href="#/developer" class="nav-button">DEVELOPER</a><!-- <div>&#203;</div> --></li>
            <li><a id="productbtn" href="#/product" class="nav-button">PRODUCT LEAD</a><!-- <div>&#203;</div> --></li>
        </ul>
    </header>
    <section class="tone-1">
    <h1 id="section1">Interactive Design</h1>
    <p>After studying interactive graphic design and new media theory through the SBCC SOMA program and USC's Institute of Multimedia Literacy program I became a design specialist consulting for digital media projects.  Across these projects I specialized in interactive design, page layout, templating, and typography for web, print, and mobile.  I was also heavily involved in customer research, requirements gathering, generating style guides, developing pitch decks, animation, program content production and in some cases leading small teams of designers.</p>

     <aside class="small-images" id="company-logos">
        <figure>
            <figcaption>Here are just a few of the brands I worked with since 2005:</figcaption>
        </figure>
        <a target="_blank" href="http://www.puma.com">
            <img src="img/puma.png" title="Puma">
        </a>
        <a target="_blank" href="http://www.oprah.com/own">
            <img src="img/own.png" title="Oprah Winphrey Network">
        </a>
        <a target="_blank" href="http://www.theartistscompany.com">
            <img src="img/acompany.png" title="The Artists Company">
        </a>
        <a target="_blank" href="http://www.vmagazine.com/">
            <img src="img/vmagazine.png" title="V Magazine">
        </a>
        <a target="_blank" href="http://tokyopop.com/">
            <img src="img/tp.png" title="Tokyopop">
        </a>
        <a target="_blank" href="http://www.wga.org/">
            <img src="img/wgaw.png" title="Writer's Guild of America West">
        </a>
        <a target="_blank" href="http://www.foxmovies.com/">
            <img src="img/fox.png" title="20th Century Fox">
        </a>
        <a target="_blank" href="http://www.sothebys.com/en.html">
            <img src="img/sothebys.png" title="Sotheby's International Realty">
        </a>
        <a target="_blank" href="http://www.badassembly.com">
            <img src="img/ba.png" title="Bad Assembly">
        </a>
        <a target="_blank" href="http://dentistry.usc.edu/">
            <img src="img/uscdentistry.png" title="USC School of Dentistry">
        </a>
        <!-- <img src="img/monk.png" title="Monk"> -->
        <a target="_blank" href="http://sevenly.org">
            <img src="img/sevenly.png" title="Sevenly">
        </a>
        <a target="_blank" href="http://ssk.com/">
            <img src="img/ssk.png" title="SS+K">
        </a>
        <!-- <img src="img/ffbca.png" title="First Federal Bank of California"> -->
    </aside>

<!--
        <aside>PUMA // SS+K  // The Artists Company // Oprah Winfrey Network // 20th Century Fox // Juliette Lewis // USC School of Dentistry // SB Int.l Film Festival // Writers Guild of America
            Sotheby’s Int.l Realty // Tokyopop</aside> -->
            <!-- <p>I like to be responsive, follow grids, and understand subject matter and branding.</p> -->

        </section>
        <div id="dev-img"></div>
        <section class="tone-2">
            <!--         <em>INSERT BANNER IMAGE OF SUBLIME TEXT SCREENSHOT OF CODE or photo of 3 monitors w/ consoles</em> -->
            <h1 id="section2">Full Stack Developer</h1>
            <p>From 2008 onward, I worked on building a major technology platform for AST, a multi-million dollar video startup that I helped co-found.  Over the 5 year period that we built out our technology platform, I was heavily involved in designing the system architecture, managing UX design, and implementing front-end UI across multiple devices.</p>
            <figure>
                <div class="img-div">
                 <img src="img/ast-stb.png">
             </div>
             <figcaption>I designed and lead the team developing an embedded Linux set top box.</figcaption>
         </figure>
         <p>Through this process I gained extensive hands on experience and deep understanding of multiple coding languages, popular development frameworks, scalable software design patterns, low level video technology, and specialized operating systems.</P>
                <figure>
                    <figcaption>Here are a few of the technologies I've mastered over the years:</figcaption>
             <aside id="skills-tag-container" ng-controller="SkillsTagCtrl" >
                <DL ng-repeat="skills in skills.skills">
                    <DT>{{skills.name}}</DT>
                    <DD ng-repeat="lists in skills.list"><a target="_blank"  href="{{skills.list[$index].URL}}">{{skills.list[$index].name}}</a></DD>
                </DL>
            </aside>
                </figure>
            <p>
                The platform I built transcodes massive volumes of HDTV source material into multi-bitrate HTTP Live Streaming delivered across multiple server and cloud platforms linked to a robust custom built content management system where international TV programmers can schedule shows to playout on channels, manage pricing for video on demand, and add or edit multi-language metadata.
            </p>
            <figure>
            <div class="img-div">
                <img src="img/cms.png">
            </div>
                <figcaption>
                A globally accessible dashboard to manage TV content rights in realtime.
                </figcaption>
            </figure>
            <p>
                This back-end system connects to a TV set top box running on a software stack developed in house where users can channel flip through professionally created HDTV channels, view any and all content On Demand, and search or browse for thousands of titles.
            </p>
             <figure>
                <div class="img-div"><img src="img/ast-arch.png" alt="Scalable Service Oriented Architecture"></div>
                <figcaption>
                Simplified architecture diagram.
                </figcaption>
             </figure>
            <figure>
                <video width="100%" height="100%" controls autoplay="autoplay" loop="true" class="vid-container">
                  <source src="assets/ast-text-demo.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <figcaption>This is an early live demo of the first generation set top box platform.</figcaption>
            </figure>

            <p>
                Due to rapid market changes we quickly transitioned in a matter of months to servicing multiple devices through a browser based UI sharing the same APIs and providing users with the same channel flipping and video on demand experience.</p>
                <figure>
                    <div class="img-div">
                        <img src="img/ast-lite.png" id="ast-stb">
                    </div>
                    <figcaption>
                        e-mail me to get a trial login to the beta site. of the web version here: <a target="_blank" href="http://beta.americanstandard.tv">beta.americanstandard.tv</a>
                    </figcaption>
                </figure>
                <p>
                    In this process we deployed prototype iOS apps as well as a fully working Android and iOS remote control for the TV service. Building this platform I directly recruited and managed 8 fulltime software developers.  I lead the design and implementation of multiple responsive single page web applications, iOS and Android touch interfaces, and several proprietary set top box platforms.
                </p>
                <div class="img-div">
                    <img class="img-fold" src="img/ipad-ast.png">
                    <img class="img-fold" src="img/iphone-ast-ui.png">
                    <img class="img-fold" src="img/iphone-ast-playing.png">
                </div>
                <p>As a software developer, I specialize in front end scripted languages, object oriented programming models, and building scalable single page web applications that conform to todays modern web standards.  Beyond building highly dynamic user interfaces, working with advanced web typography, and 2-way data binding, I also have a strong specialization in handling HD video, images, and metadata cross platform in global multi-language environments.</p>
                <!--   <em>UX Diagrams</em> -->
            </section>
            <div id="product-img"></div>
            <section class="tone-3">
              <!--           <em>INSERT BANNER IMAGE OF AST COMPANY</em>  -->
              <h1 id="section3">Product Lead</h1>
              <p>As a founding technology entrepreneur, I scaled a team of 2 up to nearly 20 fulltime employees with 13 direct reports.  I directly managed software engineers with all levels of technical experience ranging from very senior Chief Architects to college students.  I lead graphic design teams and recruited and trained interns. I oversaw everything from major releases requiring custom hardware deployment to quick marketing site updates.  For two years I managed relationships with clients overseas in Japan and Korea and managed offshore software developers in Europe.
</p>
<figure>
    <figcaption>Some of the people I've managed over the years:</figcaption>
            <aside id="teampics">
                <img src="img/td.png" title="Sr. .Net Developer">
                <img src="img/ff.png" title="CTO">
                <!-- <img src="img/bk.png" alt="Jr. Front End Developer"> -->
                <img src="img/jk.png" title="Sr. Front End Developer + Designer">
                <img src="img/jl.png" title="Customer Research Intern">
                <img src="img/dh.png" title="Operations + Logistics">
                <!-- <img src="img/id.png" alt="Jr. Front End Developer"> -->
                <img src="img/mg.png" title="Jr. Front End Developer">
                <img src="img/tl.png" title="Sr. DB Developer">
                <img src="img/va.png" title="Sr. QA Lead">
                <img src="img/mb.png" title="Sr. Network Architect">
                <img src="img/rm.png" title="Sr. Linux Developer">
                <!--  <img src="img/jj.png" alt="Jr. Front End Developer"> -->
                <img src="img/mh.png" title="Translator / Localization">
                <img src="img/ag.png" title="Jr. Linux Developer">
                <img src="img/sk.png" title="Jr. .Net Developer">
                <img src="img/is.png" title="Jr. Designer">
            </aside>
</figure>
<p>
                I’ve used most major project management tools ranging from Jira and Basecamp to Trello and MS Project. I build wireframes and design mock ups in the Adobe Creative Suite and have create both granular and high level documentation for projects ranging in length from days to years. I specialize in Agile development, but also love writing detailed up front specifications for larger projects and am equally as comfortable working in a 1 week release cycle as a 6 month release cycle as fits the project and team.
</p>
<figure>
    <figcaption>Sample from product specifications prepared for a b2b client.</figcaption>
    <div id="functional-spec">
        <img src="img/fkp.png" alt="">
        <img src="img/fkp2.png" alt="">
        <img src="img/fkp3.png" alt="">
        <img src="img/fkp4.png" alt="">
        <img src="img/fkp5.png" alt="">
        <img src="img/fkp6.png" alt="">
        <img src="img/fkp7.png" alt="">
        <img src="img/fkp8.png" alt="">
        <img src="img/fkp9.png" alt="">
    </div>
</figure>
<p>
                As an entrepreneur I gained mission critical experience managing budgets and deadlines, estimating costs, and adapting to complex situations in a rapidly changing environment. Although follow through and maximizing product quality are always key goals, I also have learned the immeasurable value of adapting plans quickly to take advantage of natural efficiencies and adding constraints to a project scope to achieve the highest value results.  As a hands on developer and participating in the architecture process, I can much more accurately estimate project timelines and resource requirements, evaluate team performance, and identify where negotiating a small change to a specification can result in huge cost savings.
            </p>
  </section>
  <section id="milestones">
    <h1>Milestones Along the Way</h1>
          <aside>
              <ul id="done-list">
                <li>Wrote provisional patent for a p2p system</li>
                <li>Built initial hardware and software proof of concept that raised $1 million</li>
                <li>Regularly attend global media and technology conferences such as CES, NAB, Digital Hollywood, TIFFCOM, etc.</li>
                <li>Regularly visit technology contacts and partners in Silicon Valley, NYC, Tokyo, Seattle</li>
                <li>Regularly managed relationships with C-Level executives, business owners, and high net worth individuals.</li>
                <li>Wrote product specifications for dedicated IPTV set top box</li>
                <li>Wrote functional specifications for custom CMS / Digital Asset Management system</li>
                <li>Wrote video encoding and storage best practices and standards speficifactions for multi-region, multi-resolution, multi-language assets</li>
                <li>Wrote functional specifications and project plan for Web Browser multi-channel TV platform</li>
                <li>Wrote requirements, scheduled and executed over 23 consecutive 2 week Agile sprints</li>
                <li>Continually sourced requirements from internal business development executives, 3rd Party licensing vendors, niche consumer groups across multiple demographics through market research and a/b testing, and traveled to meet with content suppliers at trade shows in Tokyo.</li>
            </ul>
        </aside>
  </section>

<!--   <div>
    Things I like to use to speed up my workflow.
    <ul>
        <li>
            www.purecss.io
        </li>
        <li>
            Scout / Compass / SASS
        </li>
        <li>
            Emmet / Livereload / Sublime Text
        </li>
        <li>
            www.purecss.io
        </li>
    </ul>
</div> -->
<footer>
    <address>
        <p>DUSTIN JOHNSON</p>
        <p>805.570.7813</p>
        <p>Downtown Little Tokyo / Arts District, Los Angeles, CA</p>
    </address>
    <div id="back-btn"><a href="#/">back to top</a></div>
</footer>
</body>
</html>